<div id="pagebg-container">

</div>

<section>
  <div class="container" style="padding-top: 40px;">
    <div class="row transsection">
      <div class="col-12">
        <h1 class="display-4">Unser Baukasten-Backsystem</h1>
        <p>Wir haben für Sie ein noch nie dagewesenes Baukastensystem entwickelt. Mit dieser Idee und der Liebe zum Backen
          haben wir unsere Produkte unverzichtbar für jeden Haushalt gemacht.
        </p>
      </div>
    </div>

    <!-- Welcome-Section -->
    <div class="row transsection">
      <div class="col-sm-12 col-md-4">
        <img src="/assets/backsystem/backsystem.jpg" class="img-fluid lumara-image-border">
      </div>
      <div class="col-sm-12 col-md-8">
        <h1 class="display-4">Backsystem</h1>
        <p>Mit dem Backsystem von LUMARA ist Bodenloses Backen angesagt. Das Grundgerüst besteht aus Backfuß, Backgitter,
          Backfolie, Tortenretter, Backring und Backschnitte. Sobald dieses Gerüst einmal steht, kann nichts mehr schief
          gehen und der Baukasten lässt sich nach Belieben durch verschiedene Zusatzelemente für den Transport, die Dekoration
          oder durch weitere Formen erweitern. In unserem Sortiment führen wir zahlreiche exklusive Produkte, die nur bei
          LUMARA erhältlich sind.</p>
      </div>
    </div>
    <!-- ENDE Welcome-Section-->
    <!-- Welcome-Section -->
    <div class="row transsection">
      <div class="col-sm-12 col-md-4">
        <img src="/assets/backsystem/formen.jpg" class="img-fluid lumara-image-border">
      </div>
      <div class="col-sm-12 col-md-8">
        <h1 class="display-4">Backformen</h1>
        <p>Die Original LUMARA Backformen sind aus Federband-Edelstahl. Sie zeichnen sich durch eine optimale einheitliche Höhe von
          8 cm, sowie durch eine optimale einheitliche Materialstärke aus. Die Formen müssen nicht eingefettet werden und
          mit dem bodenlosen Backen haben wir eine ca. 20 % kürzere Backzeit. Durch unseren LUMARA-Baukasten können Sie
          viele Backformen miteinander kombinieren und dadurch zwei, drei, vier oder mehrere Kuchen gleichzeitig backen.</p>
      </div>
    </div>
    <!-- ENDE Welcome-Section-->
    <!-- Welcome-Section -->
    <div class="row transsection">
      <div class="col-sm-12 col-md-4">
        <img src="/assets/backsystem/backzubehoer.jpg" class="img-fluid lumara-image-border">
      </div>
      <div class="col-sm-12 col-md-8">
        <h1 class="display-4">Backzubehör</h1>
        <p>Bei LUMARA gibt es selbstverständlich auch alles rund ums Backen. Sei es eine Winkelpalette, ein Tellerbesen,
          ein Teigschaber, ein Kuchengitter, ein Schnittenteiler oder das Kuchen- oder Tortenmesser und vieles mehr, damit
          das Backen noch einfacher wird.</p>
      </div>
    </div>
    <!-- ENDE Welcome-Section-->
    <!-- Welcome-Section -->
    <div class="row transsection">
      <div class="col-sm-12 col-md-4">
        <img src="/assets/backsystem/lebensmittel.jpg" class="img-fluid lumara-image-border">
      </div>
      <div class="col-sm-12 col-md-8">
        <h1 class="display-4">Lebensmittel</h1>
        <p>Ihr Wohl ist uns wichtig. Wir arbeiten nur mit Lebensmitteln ohne Geschmacksverstärker und Konservierungsstoffe.
          Mit unseren Zutaten sparen Sie viel Zeit beim Zubereiten und bekommen damit total leckere Kuchen, Torten, Kleinteile,
          …
        </p>
      </div>
    </div>
    <!-- ENDE Welcome-Section-->
    <!-- Welcome-Section -->
    <div class="row transsection">
      <div class="col-sm-12 col-md-4">
        <img src="/assets/backsystem/garnieren.jpg" class="img-fluid lumara-image-border">
      </div>
      <div class="col-sm-12 col-md-8">
        <h1 class="display-4">Garnieren und Verzieren</h1>
        <p>Zum Garnieren finden Sie bei uns nicht nur viele verschiedene Spritztüllen sondern auch viele Produkte zum Arbeiten
          mit Fondant und Marzipan. Genauso wie Dekorschablonen, mit denen das Verzieren ganz einfach geht.</p>
      </div>
    </div>
    <!-- ENDE Welcome-Section-->
    <!-- Welcome-Section -->
    <div class="row transsection">
      <div class="col-sm-12 col-md-4">
        <img src="/assets/backsystem/transportieren.jpg" class="img-fluid lumara-image-border">
      </div>
      <div class="col-sm-12 col-md-8">
        <h1 class="display-4">Transportieren und Servieren</h1>
        <p>Bei unserem LUMARA-Servier-Baukasten sind alle Platten, Hauben und Behälter auf die Größen unserer Backformen
          angepasst. Somit haben Sie nie Probleme, Ihre Kuchen und Torten sicher, optimal und gekühlt zu transportieren.
          Und mit den Kuchenunterlagen sieht alles noch mal viel schöner aus!</p>
      </div>
    </div>
    <!-- ENDE Welcome-Section-->
  </div>
</section>
