<div id="pagebg-container">

</div>

<section>
  <div class="container" style="padding-top: 40px;">
    <!-- Backtermine suchen Kopf -->
    <div class="row transsection">
      <div class="container">


      <div class="row">
          <div class="col-12">
              <h1 class="display-4">Backkurse finden</h1>
              <p>Sie interessieren sich für die LUMARA-Produkte?<br/>
                Finden Sie heraus, welche Backkurse in Ihrer Nähe stattfinden und melden Sie sich gleich an und erleben Sie LUMARA! Sie werden begeistert sein!<br/>
                Geben Sie Ihre PLZ ein um im Umkreis zu suchen, oder verwenden Sie ein Stichwort um ein bestimmtes Thema zu finden (Sie können auch beides kombinieren).
              </p>
            </div>
      </div>
      <form>
      <div class="form-row align-items-center">
        <!-- div class="col-md-3">
            <input type="text" class="form-control border-lumara text-lumara mb-2" placeholder="PLZ Ort" [(ngModel)]="myPLZ" [ngModelOptions]="{standalone: true}">
        </div>
        <div class="col-auto">
            oder
        </div -->
        <div class="col-md-5">
            <input type="text" class="form-control border-lumara text-lumara mb-2" placeholder="PLZ und/oder Stichwort" [(ngModel)]="stichwort" [ngModelOptions]="{standalone: true}">
        </div>
        <div class="col-auto">
            <button type="submit" class="btn btn-danger btn-red mb-2" (click)="searchBacktermine()"><span class="glyphicon-refresh-animate"><img src="/assets/icons/refresh.png" style="height:20px; width:20px;"></span> suchen</button>
        </div>
        <div *ngIf="searchResultCounter === 0" class="col-12">
            <p class="mt-2 text-lumara">Leider finden wir in Ihrem Umkreis keine LUMARA-Backkurse auf Ihre Suchanfrage? Für weitere Informationen wenden Sie sich bitte an die Zentrale in Hainsfarth:
              <strong>09082 1088</strong> oder <a href="mailto:info@lumara.de">info@lumara.de</a></p>
          </div>
      </div>
    </form>
    </div>
    </div>
    <!-- ENDE Backtermine suchen Kopf -->

    <!-- Ergebnis Backkurssuche -->
    <div *ngIf="searchResultCounter > 0" class="row transsection mt-2">
      <div class="col-12">
          <p class="mt-2 text-lumara">folgende Backkurse haben wir gefunden:</p>
      </div>

      <div class="col-12">
            <a [routerLink]="['/backkurs']" [queryParams]="{kursid: backtermin.ID}" style="color:black; text-decoration: none;"  *ngFor="let backtermin of backtermineList">
              <div class="mb-2 backkurs-item"  >
                <span class="badge badge-secondary">{{backtermin.DateBegin | date:'dd. MMMM yyyy'}} {{backtermin.DateBegin | date:'HH:mm'}} Uhr</span><br/>
                <h2 style="line-height: 1">{{backtermin.Caption}} <span class="text-muted">mit {{backtermin.LFBName}}</span></h2>
                <span style="font-size:medium" class="text-muted">{{backtermin.Ort}} <span *ngIf="backtermin.Distance > 0">({{backtermin.Distance | number:'1.0-0'}} km)</span></span><br />
                <span *ngIf="!backtermin.IsAusstellung" style="font-size:medium" [ngClass]="getAnzahlFreiClass(backtermin.AnzahlFrei)" >{{getAnzahlFreiText(backtermin.AnzahlFrei)}}</span>
                <span *ngIf="backtermin.IsAusstellung" style="font-size:small" class="text-danger">Messe / Ausstellung</span>
              </div>
            </a>
        </div>


    </div>
    <!-- ENDE Ergebnis Backkurssuche -->
  </div>
</section>
