<div id="pagebg-container">

</div>

<section>
  <div class="container" style="padding-top: 40px;">
    <div class="row transsection">
      <div *ngIf="currentBacktermin" class="col-12">
        <h1 *ngIf="!currentBacktermin.IsAusstellung" class="display-4">Backkurs</h1>
        <h1 *ngIf="currentBacktermin.IsAusstellung" class="display-4">Messe / Ausstellung</h1>
        <table>
          <tr>
            <td><span class="text-danger">Thema: </span></td>
            <td class="pl-2"> <strong>{{currentBacktermin.Caption}}</strong></td>
          </tr>
          <tr>
            <td><span class="text-danger">Fachberaterin: </span></td>
            <td class="pl-2"> {{currentBacktermin.Username}}</td>
          </tr>
          <tr>
            <td><span class="text-danger">Beginn? </span></td>
            <td class="pl-2"> {{currentBacktermin.DateBegin | date:'dd. MMMM yyyy HH:mm'}}</td>
          </tr>
          <tr *ngIf="currentBacktermin.IsAusstellung">
            <td><span class="text-danger">Ende? </span></td>
            <td class="pl-2"> {{currentBacktermin.DateBegin | date:'dd. MMMM yyyy HH:mm'}}</td>
          </tr>
          <tr *ngIf="!currentBacktermin.IsAusstellung">
            <td><span class="text-danger">Dauer: </span></td>
            <td class="pl-2"> {{currentBacktermin.Dauer}}</td>
          </tr>
          <tr>
              <td><span class="text-danger">Wo? </span></td>
              <td class="pl-2"> {{currentBacktermin.Adresse}}</td>
            </tr>
          <tr>
              <td><span class="text-danger">Kosten: </span></td>
              <td class="pl-2"> {{currentBacktermin.Kosten}} €</td>
            </tr>
        </table>

        <button *ngIf="!showBuchungsFormular" type="button" class="btn btn-danger btn-red mb-2 mt-2" (click)="showBuchungsFormular()">Backkurs buchen</button>
      </div>
    </div>


    <!-- Buchungsformular -->
    <div *ngIf="showBuchungsFormular" class="row transsection mt-3 mx-0 px-0">
      <h1>Anmeldung</h1><br/>
      <div>
      <form>
        <!-- Name -->
        <div class="form-group row mx-2">
          <label for="name" class="col-sm-2 col-form-label">Name</label>
          <div class="col-sm-10">
              <input type="text" class="form-control" id="name" placeholder="Name">
            </div>
        </div>
        <!-- EMail -->
        <div class="form-group row mx-2">
            <label for="email" class="col-sm-2 col-form-label">E-Mail</label>
            <div class="col-sm-10">
                <input type="email" class="form-control" id="email" placeholder="E-Mail">
              </div>
          </div>
        <!-- Telefon -->
        <div class="form-group row mx-2">
            <label for="telefon" class="col-sm-2 col-form-label">E-Mail</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="telefon" placeholder="Telefon">
              </div>
          </div>
        <!-- PLZ -->
        <div class="form-group row mx-2">
            <label for="plz" class="col-sm-2 col-form-label">Postleitzahl</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="plz" placeholder="PLZ">
              </div>
          </div>
        <!-- PLZ -->
        <div class="form-group row mx-2">
            <label for="teilnehmerzahl" class="col-sm-2 col-form-label">Teilnehmerzahl</label>
            <div class="col-sm-10">
                <input type="number" class="form-control" id="teilnehmerzahl" placeholder="Teilnehmerzahl">
              </div>
          </div>

          <div class="form-group row mx-2">
              <div class="col-sm-10">
                <button type="submit" class="btn btn-danger btn-red mb-2 mt-2">verbindlich anmelden</button>
              </div>
            </div>
      </form>
    </div>
    </div>
  </div>
</section>
