<div id="pagebg-container"></div>

<section>
  <div class="container" style="padding-top: 40px;">
    <!-- Backtermine suchen Kopf -->


        <div class="row transsection">
          <div class="col-12">
            <h1 class="display-4">Teil des LUMARA-Teams werden</h1>
            <p>
              Sie haben Freude am Backen? Sie lieben den Umgang mit Menschen und wollen ihr Hobby leben?<br/>
              Dann werden Sie doch Teil unseres harmonischen Back-Teams!
            </p>
          </div>
        </div>


      <!-- NEU dabei -->
      <div class="row transsection py-3">

        <div class="col-12">
            <img
            src="/assets/motive/team.jpg"
            class="img-fluid lumara-image-border" style="float:right;"
          />
          <h2>Was erwartet Sie bei LUMARA?</h2>
          <p>
            <strong class="text-lumara">TEAM</strong><br/>
            Wir arbeiten als Team und das ist uns sehr wichtig. Ein reger Austausch findet monatlich bei
            kostenlosen Schulungen und Tagungen oder bei jährlichen Veranstaltungen statt.
          </p>
          <p>
            <strong class="text-lumara">ARBEITSEINSATZ</strong><br/>
            Unser Team besteht überwiegend aus Frauen, die Freude daran haben, ihr Hobby als Nebenberuf ausüben zu können
            oder mit dem Ziel, Führungskraft zu werden. Sie können sich Ihre Zeit frei einteilen und somit Ihre Haushaltskasse
            aufbessern. Wir legen dies in Ihre Hände.
          </p>
          <p>
            <strong class="text-lumara">ERFOLG</strong><br/>
            Sie sind uns wichtig! Deshalb belohnen wir Sie für Ihren Fleiß und das Erreichen Ihrer Ziele.
          </p>
          <p>
            <strong class="text-lumara">PRODUKTE</strong><br/>
            Wir liefern Ihnen die qualitativ hochwertigen Produkte und somit ein sehr gutes Werkzeug für Ihren Erfolg.
            Eigeninitiative und neue Ideen finden bei uns immer Gehör und Zuspruch.
          </p>
          <a
            type="button"
            class="btn btn-danger d-inline-block btn-red"
            routerLink="/kontakt"
            >zum Kontaktformular</a
          >
          <a
          type="button"
          class="btn btn-danger d-inline-block btn-red ml-3"
          routerLink="/ueberuns"
          >mehr über unser Unternehmen</a
        >
        </div>
      </div>
      <!-- ENDE Neu dabei -->

  </div>
</section>
