<header *ngIf="showNavBar">
  <!-- Start Navigation -->
  <nav class="navbar navbar-expand-lg navbar-dark fixed-top py-0">
    <div class="container">
      <a class="navbar-brand font-alt" id="home" routerLink="/">
        <img class="mr-2 mb-1 logo" src="assets/logos/logo_schriftzug.png" alt="Lumara">
      </a>
      <button class="navbar-toggler navbar-toggler-right" type="button" (click)="isCollapsed = !isCollapsed" data-toggle="collapse"
        data-target="#navbar-toggle" aria-controls="navbar-toggle">
        <span class="icon-menu"></span>
      </button>

      <div class="collapse navbar-collapse justify-content-end text-uppercase " id="navbar-toggle" [ngbCollapse]="isCollapsed">
        <ul class="navbar-nav" (click)="navLinkClicked()">
          <li class="nav-item" [routerLinkActive]="['backsystem']">
            <a class="nav-link" routerLink="backsystem">Backsystem</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/home#produkte">Produkte/Angebote</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/home#lumaraerleben">LUMARA erleben</a>
          </li>
          <li class="nav-item" [routerLinkActive]="['rezepte']">
            <a class="nav-link" routerLink="rezepte">Rezepte</a>
          </li>
          <li class="nav-item" [routerLinkActive]="['kontakt']">
            <a class="nav-link" routerLink="kontakt">Kontakt</a>
          </li>
        </ul>
        <!-- navbar-nav -->
      </div>
      <!-- navbar-collapse -->
    </div>
    <!-- container -->
  </nav>
  <!-- nav -->
  <!-- Ende Navigation -->
</header>

<main>
  <router-outlet></router-outlet>
  <div class="container">
     <!-- Fußzeile-Section -->
     <div id="rezepte" class="row transsection text-right" style="margin-top: 15px; margin-bottom: 20px;">
      <a class="mx-3 my-3" routerLink="/impressum" type="button">Impressum</a>
      <a class="mx-3 my-3" routerLink="/datenschutz" type="button">Datenschutz</a>
      <a class="mx-3 my-3" routerLink="/kontakt" type="button">Kontakt</a>
  </div>
</div>
  <!-- ENDE Backsystem-Section -->
</main>
