<!-- Motiv-Slider -->
<section id="slider" class="slider">
  <div class="container" style="padding-top: 50vh;">
    <!-- Welcome-Section -->
    <div class="row transsection">
      <div class="col-sm-12 col-md-4">
        <img src="/assets/logos/logo_198.png" class="img-fluid">
      </div>
      <div class="col-sm-12 col-md-8">
        <h1 class="display-4">Herzlich willkommen bei Lumara!</h1>
        <p>Erleben Sie mit uns die spannende Welt des professionellen Backens und schaffen Sie beneidenswerte Kreationen
          mit unserem einzigartigem Backsystem</p>
        <br>
        <p>Sie möchten unser Backsystem kennenlernen? Verschaffen Sie sich <a href="#">hier</a> einen Überblick</p>
        <p>Das <a href="#">Team</a>, das hinter dem Namen LUMARA steht, garantiert Ihren Erfolg!</p>
      </div>
    </div>
    <!-- ENDE Welcome-Section-->
    <!-- NEWS-Tafel -->
    <div class="row" style="margin-top: 15px;">
      <div class="col tafel">
        <p class="text-center">+++ news +++ news +++ news +++</p>
        <p>Liebe LUMARA Kunden!<br> Mit großen Schritten gehen wir dem Herbst entgegen. Die Zeit, in der wir wieder zu den
          LUMARA-Backheften greifen und ein Rezept nach dem anderen backen.<br> Wir haben uns wieder viele Gedanken über
          passende Sonderangebote gemacht. Jetzt haben Sie die Möglichkeit, schon frühzeitig an ihre Weihnachtsbäckerei zu
          denken und auch an praktische und in jedem Haushalt beliebte Weihnachtsgeschenke.<br> Wir sind begeistert von dem,
          was wir Ihnen in nächster Zeit anbieten können.<br> Nehmen Sie schnell mit Ihrer Beraterin Kontakt auf und sichern
          Sie sich einen Termin oder die Angebote.<br> Es lohnt sich!<br> Ihr LUMARA TEAMKOLLEGE </p>
      </div>
    </div>
    <!-- ENDE NEWS-Tafel -->
    <!-- Backsystem-Section -->
    <div class="row transsection" style="margin-top: 15px;">
      <div class="col-sm-12 col-md-4">
        <img src="/assets/motive/backsystem.jpg" class="img-fluid mt-3">
      </div>
      <div class="col-sm-12 col-md-8">
        <h1 class="display-4">unser Backsystem</h1>
        <p>Wir haben für Sie ein noch nie dagewesenes Baukastensystem entwickelt. Mit dieser Idee und der Liebe zum Backen
          haben wir unsere Produkte unverzichtbar für jeden Haushalt gemacht.
        </p>
        <p>Wir können sagen: LUMARA bietet alles aus einer Hand. Qualitativ hochwertige Produkte zum Backen, Servieren, Transportieren,
          Garnieren und Verzieren von Kuchen und Torten.</p>
        <button type="button" class="btn btn-danger btn-red">LUMARA-Backsystem</button>
      </div>
    </div>
    <!-- ENDE Backsystem-Section -->
    <!-- Produkt-Katalog-Section -->
    <div class="row transsection" style="margin-top: 15px;">
      <div class="col-sm-12 col-md-8">
        <h1 class="display-4">Produkterlebnis und Schnäppchen</h1>
        <p>Lassen Sie sich unsere aktuellen Sonderangebote nicht entgehen! Es stehen Flyer für folgende Zeiträume bereit:
        </p>
        <button type="button" class="btn btn-danger btn-red">Flyer KW44/2018 - KW50/2018</button>&nbsp;&nbsp;
        <button type="button" class="btn btn-danger btn-red">Flyer KW51/2018 - KW3/2019</button><br>
        <p>...oder stöbern Sie in unserem regulärem Produktkatalog. Hier ist für jeden Geschmack etwas dabei</p>
        <button type="button" class="btn btn-danger btn-red">zum Produktkatalog</button>
      </div>
      <div class="col-sm-12 col-md-4 align-middle">
        <img src="/assets/motive/produktkatalog.jpg" class="img-fluid mt-3">
      </div>
    </div>
    <!-- ENDE Produkt-Katalog-Section -->
    <!-- Backsystem-Section -->

        <div class="row justify-content-center redsection" style="margin-top: 15px;">
            <div class="col text-center">
              <h1 class="display-2">Lumara erleben!</h1>
            </div>
          </div>
        <div class="row  justify-content-between redsection" style="padding-top: 15px; padding-bottom: 15px;">
            <div class="col-md text-center mx-5 mr-md-0 mr-lg-3 mb-5 mb-md-auto">
                <img class="img-fluid mb-4 img-thumbnail" src="assets/motive/lumara-erleben.jpg" alt="Backkurse">
                <h3 class="font-weight-bold text-white mb-3 ">Backkurs buchen</h3>
                <p class="px-4">Erleben Sie die LUMARA-Backwelt live auf einem unserer tollen Backkurse</p>
                <button type="button" class="btn btn-danger btn-red">Kurskalender</button>
              </div>
              <!-- col -->
              <div class="col-md text-center mx-5 mx-md-0 mx-lg-3 mb-5 mb-md-auto">
                <img class="img-fluid mb-4 img-thumbnail" src="assets/motive/lumara-erleben.jpg" alt="Gastgeberin werden">
                <h3 class="font-weight-bold text-white mb-3">Gastgeberin werden</h3>
                <p class="px-4">Laden Sie ein zu einer LUMARA-Backparty und lassen Sie sich mit einem besonderen Gastgebergeschenk belohnen!</p>
                <button type="button" class="btn btn-danger btn-red">Gastgeber-Infos</button>
              </div>
              <!-- col -->
              <div class="col-md text-center mx-5 ml-md-0 ml-lg-3">
                <img class="img-fluid mb-4 img-thumbnail" src="assets/motive/lumara-erleben.jpg" alt="Teil des LUMARA-Teams werden">
                <h3 class="font-weight-bold text-white mb-3">im Team mitarbeiten</h3>
                <p class="px-4">Lassen Sie sich von uns begeistern und ausbilden und verdienen Sie bei freier Zeiteinteilung ein tolles Zusatzeinkommen </p>
                <button type="button" class="btn btn-danger btn-red">Kontakt mit Zentrale aufnehmen</button>
              </div>
              <!-- col -->
        </div>
        <div class="row justify-content-center redsection" >
            <div class="col bg-warning text-center" style="padding-top:15px;">
              <p style="color: black;">Suchen Sie eine Beraterin in Ihrer Nähe:  <button type="button" class="btn btn-danger d-inline-block btn-red">Kontakt mit Zentrale aufnehmen</button> </p>
            </div>
          </div>

    <!-- ENDE Backsystem-Section -->
  </div>


</section>
<!-- Ende Motiv-Slider -->
