<div id="pagebg-container">

</div>
<!-- Motiv-Slider -->
<section id="slider">
  <div class="container" style="padding-top: 35vh;">
    <!-- Welcome-Section -->
    <div class="row transsection">
      <div class="col-sm-12 col-md-4 justify-content-center text-center">
        <img src="/assets/logos/logo_198.png" class="img-fluid mb-3"><br/>
        <div style="position: absolute; bottom: 3px; width: 100%" class="text-center">
          <a href="https://shop.lumara.de"><span class="icon-basket"></span>&nbsp;Online-Shop</a>&nbsp;&nbsp;
          <a href="https://portal.lumara.de"><span class="icon-login"></span>&nbsp;Fachberater-Portal</a>
        </div>

      </div>
      <div class="col-sm-12 col-md-8">
        <h1 class="display-4">Herzlich willkommen bei LUMARA!</h1>
        <p>Erleben Sie mit uns die spannende Welt des professionellen Backens und schaffen Sie beneidenswerte Kreationen
          mit unserem einzigartigem Backsystem.</p>
        <br>
        <p>Sie möchten unser Backsystem kennenlernen? Verschaffen Sie sich <a routerLink="/backsystem">hier</a> einen Überblick.</p>
        <p>Das <a routerLink="/ueberuns">Team</a>, das hinter dem Namen LUMARA steht, garantiert Ihren Erfolg!</p>
        <p>P.S.: vergessen Sie auch nicht, uns bei <a href="https://de-de.facebook.com/LUMARA.Haushaltsprodukte/"><img src="/assets/icons/facebook.png" style="height: 35px"/>Facebook</a> zu besuchen...</p>
      </div>
    </div>
    <!-- ENDE Welcome-Section-->
    <!-- NEWS-Tafel -->
    <div class="row" style="margin-top: 15px;">
      <div class="col tafel">
        <!--p class="text-center">+++ news +++ news +++ news +++</p-->
        <h2 style="color: white" class="mt-2">Liebe LUMARA-Kunden!</h2>
        <p>Weihnachten ist für viele Menschen das wichtigste Fest.<br/>
          In unserer Tradition backen wir besondere Leckereien.
          Ob Mann oder Frau - Weihnachtsbäckerei gehört zu Weihnachten.<br/>
          Viele lassen sich von unseren super Werkzeugen begeistern. Damit macht das Backen einfach Freude!<br/>
          Zum Weihnachtsfest gibt es auch Geschenke, an Familie, Freunde und Bekannte.
          Beliebte praktische Geschenke finden Sie in unserer Produktpalette. Gerne beraten Sie unsere Kolleginnen.<br/>
          Wir freuen uns auf ein Kennenlernen und auf einen Besuch unserer Backkurse.<br/>
          Gerne steht Ihnen das ganze LUMARA-Team bei Fragen zur Seite.<br> Ihr LUMARA TEAMKOLLEGE </p>
      </div>
    </div>
    <!-- ENDE NEWS-Tafel -->
    <!-- Backsystem-Section -->
    <div class="row transsection" style="margin-top: 15px;">
      <div class="col-sm-12 col-md-4">
        <img src="/assets/motive/backsystem.jpg" class="img-fluid mt-3">
      </div>
      <div class="col-sm-12 col-md-8">
        <h1 class="display-4">unser Backsystem</h1>
        <p>Wir haben für Sie ein noch nie dagewesenes Baukastensystem entwickelt. Mit dieser Idee und der Liebe zum Backen
          haben wir unsere Produkte unverzichtbar für jeden Haushalt gemacht.
        </p>
        <p>Wir können sagen: LUMARA bietet alles aus einer Hand. Qualitativ hochwertige Produkte zum Backen, Servieren, Transportieren,
          Garnieren und Verzieren von Kuchen und Torten.</p>
        <!-- button type="button" class="btn btn-danger btn-red">LUMARA-Backsystem</button -->
        <a id="produkte" routerLink="/backsystem" type="button" class="btn btn-danger btn-red">LUMARA-Backsystem</a>
      </div>
    </div>
    <!-- ENDE Backsystem-Section -->
    <!-- Produkt-Katalog-Section -->
    <div id="sss" class="row transsection" style="margin-top: 15px;">
      <div class="col-sm-12 col-md-8">
        <h1 class="display-4">Produkterlebnis und Schnäppchen</h1>
        <p>Lassen Sie sich unsere aktuellen Sonderangebote nicht entgehen! Es stehen Flyer für folgende Zeiträume bereit:
        </p>
        <!--
        <a type="button" class="btn btn-danger btn-red" href="https://portal.lumara.de/flyer/Flyer_KW36-44_2018.pdf">Flyer KW36-44 2018</a>&nbsp;&nbsp;
        -->
        <a type="button" class="btn btn-danger btn-red" href="https://portal.lumara.de/flyer/Flyer_KW45-KW1.pdf">Flyer KW45/2018 - KW1/2019</a><br>
        <p>...oder stöbern Sie in unserem regulärem Produktkatalog. Hier ist für jeden Geschmack etwas dabei</p>
        <a id="fff" type="button" class="btn btn-danger btn-red" routerLink="/produktkatalog">zum Produktkatalog</a>
      </div>
      <div class="col-sm-6 col-md-2 align-middle">
        <a href="https://portal.lumara.de/flyer/Flyer_KW45-KW1.pdf">
        <img src="https://portal.lumara.de/flyer/Flyer_KW45-KW1_01.jpg" class="img-fluid mt-3">
        </a>
      </div>
      <div class="col-sm-6 col-md-2 align-middle">
          <a href="https://portal.lumara.de/flyer/Flyer_KW45-KW1.pdf">
        <img src="https://portal.lumara.de/flyer/Flyer_KW45-KW1_02.jpg" class="img-fluid mt-3">
          </a>
      </div>
    </div>
    <div id="lumaraerleben"></div>
    <!-- ENDE Produkt-Katalog-Section -->
    <!-- Backsystem-Section -->
    <div id="lumaraexxxxx" class="row justify-content-center redsection" style="margin-top: 15px;">
      <div class="col-12 text-center">
        <h1 class="display-2 text-white">Lumara erleben!</h1>
      </div>
      <div class="col-12">
        <div class="card-deck">
          <!-- Card 1 -->

          <div class="w-100 d-none d-sm-block d-md-block d-lg-none"><!-- wrap every 2 on sm--></div>
          <div class="card mb-4 bg-red border-white">
            <img class="card-img-top" style="min-height: 210px; max-height: 210px; object-fit: cover" src="assets/motive/backkurs.jpg" alt="Backkurse">
            <div class="card-body">
              <h4 class="card-title text-white font-weight-bold">Backkurs buchen</h4>
              <p class="card-text text-white">Erleben Sie die LUMARA-Backwelt live auf einem unserer tollen Backkurse</p>
              <a type="button" class="btn btn-danger btn-red" routerLink="/backkurse">Backkurse</a>
            </div>
          </div>

          <!-- Card 1 -->

          <div class="w-100 d-none d-sm-block d-md-block d-lg-none"><!-- wrap every 2 on sm--></div>
          <div class="card mb-4 bg-red border-white">
            <img class="card-img-top" style="min-height: 210px; max-height: 210px; object-fit: cover" src="assets/motive/gastgeber.jpg" alt="Backkurse">
            <div class="card-body">
              <h4 class="card-title text-white font-weight-bold">Gastgeberin werden</h4>
              <p class="card-text text-white">Laden Sie ein zu einer LUMARA-Backparty und lassen Sie sich mit einem besonderen
                Gastgebergeschenk belohnen!
              </p>
              <a type="button" class="btn btn-danger btn-red" routerLink="/gastgeber">weitere Infos</a>
            </div>
          </div>

          <!-- Card 1 -->

          <div class="w-100 d-none d-sm-block d-md-block d-lg-none"><!-- wrap every 2 on sm--></div>
          <div class="card mb-4 bg-red border-white">
            <img class="card-img-top" style="min-height: 210px; max-height: 210px; object-fit: cover" src="assets/motive/team.jpg" alt="Backkurse">
            <div class="card-body">
              <h4 class="card-title text-white font-weight-bold">im Team mitarbeiten</h4>
              <p class="card-text text-white">Lassen Sie sich von uns begeistern und ausbilden und verdienen Sie bei freier
                Zeiteinteilung ein tolles Zusatzeinkommen</p>
              <a type="button" class="btn btn-danger btn-red" routerLink="/teammitglied">weitere Infos</a>
            </div>
          </div>

        </div>
        <!-- Ende Card-Deck-->
      </div>
      <!-- Ende Col-->

        <div class="col-12 bg-warning text-center" style="padding-top:15px;">
          <p style="color: black;"><span class="icon-location-pin"></span>Suchen Sie eine Beraterin in Ihrer Nähe?
            <a type="button" class="btn btn-danger d-inline-block btn-red" routerLink="/fachberatersuche">Fachberatersuche</a> </p>
        </div>

    </div>




    <!-- Rezepte-Section -->
    <div id="rezepte" class="row transsection" style="margin-top: 15px; margin-bottom: 20px;">
      <div class="col-sm-12 col-md-4">
        <img src="/assets/motive/rezepte.jpg" class="img-fluid mt-3">
      </div>
      <div class="col-sm-12 col-md-8">
        <h1 class="display-4">Rezepte</h1>
        <p>Wie heißt es so schön? Das Auge isst mit!
        </p>
        <p>Hier präsentieren wir für Sie einige tolle Rezepte aus unseren Rezeptewelten-Backbüchern</p>
        <!-- button type="button" class="btn btn-danger btn-red">LUMARA-Backsystem</button -->
        <a routerLink="/rezepte" type="button" class="btn btn-danger btn-red">zu den Rezepten</a>
      </div>
    </div>
    <!-- ENDE Backsystem-Section -->


</div>
</section>
<!-- Ende Motiv-Slider -->
