<div id="pagebg-container">

</div>

<section>
  <div class="container" style="padding-top: 40px;">
    <!-- Produktgruppen suchen Kopf -->
    <div class="row transsection">


      <div class="col-12">
        <h1 class="display-4"><a [routerLink]="['/produktkatalog']">  </a>{{artikelGruppeCaption}}</h1>
        <p class="text-muted">Alle Artikelpreise incl. MwSt zzgl. Versand und nur gültig für Deutschland. Für andere Länder können die Preise abweichen.</p>
      </div>
    </div>


    <div class="row transsection mt-2 pt-3">
      <!-- Produktekategorie-Card -->
      <div class="col-xl-2 col-lg-4 col-md-4 col-sm-6 col-xs-6" *ngFor="let artikelItem of artikelItems">
        <div class="card mb-4 bg-red" style="border: none;">
          <!--a [routerLink]="['/produkt']" [queryParams]="{edvnr: artikelItem.EdvNr}"-->
            <img class="card-img-top img-fluid" style="width:100%; max-height: 180px; object-fit: cover; border: none;"  [src]="getImageUrl(artikelItem.EdvNr)" (error)="imgErrorHandler($event)" alt="Produkt">
            <span *ngIf="artikelItem.PreisSonder_D > 0 && !artikelItem.EdvNr.startsWith('F')" class="badge badge-warning mx-1 my-1">Sonderpreis: {{artikelItem.PreisSonder_D | number:'1.2-2':'de'}} €</span>
            <div class="card-block text-center">
              <span class="text-light" style="font-family: 'Roboto'; font-weight: bold; font-size:medium">{{artikelItem.EdvNr}} <span *ngIf="!artikelItem.EdvNr.startsWith('F')" style="font-weight: normal; font-size: small">({{artikelItem.PreisVK_D | number:'1.2-2':'de'}} €)</span></span><br/>
              <p class="text-light" style="font-family: 'Roboto'; font-size: small; line-height: 1.1">{{artikelItem.Bezeich}}</p>
            </div>
          <!--/a-->
        </div>
      </div>
      <!-- Ende Rezepte-Card -->
    </div>
    <!-- Ende Row -->
  </div>
  <!-- Ende Container -->

  <!-- Ende Row Transsection -->

</section>
