/*** Allgemein ***/
body, p, button, input {
  font-family: 'Oregano';
  font-size: x-large;
}

.form-control, .btn {
  font-size: x-large;
}

.btn-red {
  font-size: x-large;
}

h1 {
  font-size: xx-large;
  /*font-family: 'Euphoria Script';*/
  font-family: 'Oregano';
  color: #AB172E;
}

h2, h3, h4, h5, h6, .font-alt {
  font-family: 'Oregano';
  font-weight:300;
  color: #BE392B;
}

main {
  margin-top: 58px;
}

ul {
  margin-left: 15px;
}

/*** Navbar ***/
#home .logo {
  height: 45px;
  -webkit-filter: drop-shadow(1px 1px 1px #FFF);
  filter: drop-shadow(1px 1px 1px #FFF);
}
.navbar {
  font-family: 'Roboto';
  font-size: initial;
  background-color: #AB172E;
}
.navbar .avatar {
  height: 40px;
  width: 40px;
  background-position: center;
  background-size: cover;
  display: inline-block;
}

.breadcrumb {
  border-radius: 0px;
}

/*** SLIDER ***/
.slider {
  background: url('/assets/motive/motiv1.jpg') 50% 0 fixed no-repeat;
	/*height: 100vh;*/
	background-size: cover;
}

#pagebg-container {
  z-index: -1;
  background: url('/assets/motive/motiv1.jpg');
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  position: fixed;
  width: 100%;
}

/*** SECTIONS ***/
.transsection {
  background-color: #FFF;
  opacity: 0.95;
  border-radius: 5px;
  padding-bottom: 10px;
}

.redsection {
  background-color: #AB172E;
  color: white;
  border-radius: 5px;
}

.bg-red {
  background-color: #AB172E;
}

/*** TAFEL ***/
.tafel {
  background-image: url('/assets/backgrounds/tafel.jpg');
  color: white;
}

.glyphicon-refresh-animate {
  -animation: spin .7s infinite linear;
  -webkit-animation: spin2 .7s infinite linear;
}

@-webkit-keyframes spin2 {
  from { -webkit-transform: rotate(0deg);}
  to { -webkit-transform: rotate(360deg);}
}

@keyframes spin {
  from { transform: scale(1) rotate(0deg);}
  to { transform: scale(1) rotate(360deg);}
}

/*** RESPONSIVE-DESIGN ***/
/*** schmale Darstellung ***/
@media screen and (max-width: 900px) {
  .postcontent {
    padding-top: 80px;
    padding-left: 0px;
  }
  .postcontent ul {
    margin-left: 15px;
  }
}

/*** Darstellung Smartphone-Menu ***/
/*
@media screen and (max-width: 400px) {
  .postcontent {
    padding-top: 100px;
    padding-left: 0px;
  }
}
*/
