/*** Allgemein ***/
body, p, button, input {
  font-family: 'Roboto';
  font-size: large;
}

a, a:hover {
  color: #AB172E;
}

.form-control, .btn {
  font-size: x-large;
}

.btn-red {
  font-size: x-large;
  background-color: #AB172E;
}

h1 {
  font-size: xx-large;
  /*font-family: 'Euphoria Script';*/
  font-family: 'Oregano';
  color: #AB172E;
}

h2, h3, h4, h5, h6, .font-alt {
  font-family: 'Oregano';
  font-weight:300;
  color: #AB172E;
}

main {
  margin-top: 58px;
}

ul {
  margin-left: 15px;
}

.lumara-image-border {
  padding: 2px;
  border-width: 2px;
  border-color: #AB172E;
  border-radius: 3px;
  border-style: solid;
}

.border-lumara {
  border-color: #AB172E;
}
.text-lumara {
  color: #AB172E;
}

.backkurs-item {
  padding: 10px;
  border-width: 0px;
  border-color: #AB172E;
  border-radius: 3px;
  border-style: solid;
  background-color: #eeeeee;
}
.backkurs-item:hover {
  background-color: lightgray;
}


/*** Navbar ***/
#home .logo {
  height: 45px;
  -webkit-filter: drop-shadow(1px 1px 1px #FFF);
  filter: drop-shadow(1px 1px 1px #FFF);
}
.navbar {
  font-family: 'Roboto';
  font-size: initial;
  background-color: #AB172E;
}
.navbar .avatar {
  height: 40px;
  width: 40px;
  background-position: center;
  background-size: cover;
  display: inline-block;
}

.breadcrumb {
  border-radius: 0px;
}

/*** SLIDER ***/
.slider {
  background: url('/assets/motive/motiv1.jpg') 50% 0 fixed no-repeat;
	/*height: 100vh;*/
	background-size: cover;
}

#pagebg-container {
  z-index: -1;
  background: url('/assets/motive/motiv1.jpg');
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  position: fixed;
  width: 100%;
}

/*** SECTIONS ***/
.transsection {
  background-color: #FFF;
  opacity: 0.95;
  border-radius: 5px;
  padding-bottom: 10px;
}

.redsection {
  background-color: #AB172E;
  color: white;
  border-radius: 5px;
}

.bg-red {
  background-color: #AB172E;
}

/*** TAFEL ***/
.tafel {
  background-image: url('/assets/backgrounds/tafel.jpg');
  color: white;
}

.christmas {
  background-image: url('/assets/backgrounds/christmas.png');
  color: white;
}

.neujahr {
  background-image: url('/assets/backgrounds/year2019.jpg');
  opacity: 0.9;
  color: white;
}

.glyphicon-refresh-animate {
  -animation: spin .7s infinite linear;
  -webkit-animation: spin2 .7s infinite linear;
}

@-webkit-keyframes spin2 {
  from { -webkit-transform: rotate(0deg);}
  to { -webkit-transform: rotate(360deg);}
}

@keyframes spin {
  from { transform: scale(1) rotate(0deg);}
  to { transform: scale(1) rotate(360deg);}
}

/*** RESPONSIVE-DESIGN ***/
/*** schmale Darstellung ***/
@media screen and (max-width: 900px) {
  .postcontent {
    /* padding-top: 80px;*/
    /*padding-left: 0px;*/
  }
  .postcontent ul {
    margin-left: 15px;
  }
}

/*** Darstellung Smartphone-Menu ***/
/*
@media screen and (max-width: 400px) {
  .postcontent {
    padding-top: 100px;
    padding-left: 0px;
  }
}
*/

/*** BLOG-POSTS ***/
/*** News-Posts ***/
.postcontent {
  padding-top: 0px;
  /*padding-left: 90px;*/
}
.postcontent ul {
  margin-left: 15px;
}
.postcontent ol {
  margin-left: 15px;
}
.postcontent h1 {
  color: brown;
  font-size: 3.5rem;
  line-height: 1.2;
  margin-bottom: 4px;
}
.postcontent h2 {
  border-bottom: 1px solid #b0aeae;
  text-transform: uppercase;
}

.postcontent tr {
  vertical-align: top;
}
.postcontent code {
  color: black;
  background-color: #eeeeee;
  border-radius: 3px;
  padding-left: 5px;
  padding-right: 5px;
  text-shadow: 0px 0px;
}
.postcontent pre {
  color: black;
  background-color: #eeeeee;
  border-radius: 3px;
  padding-left: 5px;
  padding-right: 5px;
  text-shadow: 0px 0px;
}
  /* ein Stern = fett schreiben */
 .postcontent em {
    font-weight: bold;
    font-style: normal;
}
/* zwei Sterne = hervorheben */
.postcontent strong {
    color: brown;
}

.postcontent .postinfo {
    color: gray;
    line-height: 1em;
    font-size:x-small;
    margin-top: 3px;
    padding-top: 0px;
    margin-bottom: 15px;
}
.postcontent .postinfo strong {
  color: gray;
}

.postcontent .masterimage {
  float: right;
  width: 50%;
  margin: 5px;

  padding: 2px;
  border-width: 2px;
  border-color: #AB172E;
  border-radius: 3px;
  border-style: solid;
}

.markdown img {
  max-width: 100%;

}
.markdown .card-img-top {
  height:100px;
  object-fit: cover;
}

